<footer class="containerFooter">
  <div class="itensFooter">
    <section>
      <span>Desenvolvido por Aran Prado</span>
    </section>
    <section>
      <span>Copyright © 2024 AR</span>
    </section>
    <section class="sectionRedes">
      <a class="icons" [href]="this.linkLinkedin" target="_blank">
        <img src="assets/IconsSvg/linkedin.svg" class="iconSize" alt="">
      </a>
      <a class="icons" [href]="this.linkInstagram" target="_blank">
        <img src="assets/IconsSvg/instagram.svg" class="iconSize" alt="">
      </a>
      <a class="icons" [href]="this.linkGitHub" target="_blank">
        <img src="assets/IconsSvg/github.svg" class="iconSize" alt="">
      </a>
    </section>
  </div>
</footer>
