<app-Menu></app-Menu>
<article class="container">
  
      <div class="containerButton">
          <button (click)="baixarCurriculo()" class="button">
              <span>Baixar CV</span>
          </button>
      </div>
  

  
      <div class="containerCurriculo">

          <img class="curriculo" src="../../../assets/Curriculo/CurriculoAran.png" alt="Curriculo" />

      </div>
  

  
      <div class="containerButton">
          <button (click)="baixarCurriculo()" class="button">
              <span>Baixar CV</span>
          </button>
      </div>
  
</article >
<app-Footer></app-Footer>
