.container {
    padding-top: 90px;
    background-color: var(--primary-color);
    height: 100%;
  }
  
  .containerButton {
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .button {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
  }
  
  .button:hover{
    background-color: var(--secondaryEscura-color);
  }
  
  .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .containerCurriculo {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .curriculo{
    width: 800px;
    
  }

  @media(max-width:425px){
   .container{
    height: 120vh;
   }

    .curriculo{
      width: 350px;
      
    }

    .button{
      padding: 10px 20px;
    }
  }

  @media (min-width:426px) and (max-width: 768px) {
    .container{
      height: 100vh;
    }

    .curriculo{
      width: 400px;
      
    }

    
   
  }

  @media (min-width: 769px) and (max-width: 992px) {
    .curriculo{
      width: 600px;
      
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {}

  @media (min-width: 1201px) {}