





.iconsSize{
  width: 30px ;
}



@media (max-width: 768px) {

  

    .container{
      border: 1px solid transparent;
      background-color: var(--primary-color);
    }
  
    
  
    .containerSectionSuperior {
      
  
      display: flex;
      align-items: center;
        
      justify-content: center;
      flex-direction: column;
  
      padding-top: 80px;
      margin-bottom: 80px;
    }
  
    .containerOla {
      margin-bottom: 15px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .titulo{
      font-size: 30px;
    }
  
    .containerNome {
      text-transform: uppercase;
      
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 8px;
    }
  
    .containerTypewriter {
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
  
    }
  
    .imageIdeias {
      width: 180px;
      height: 180px;
      margin-top: 20px;
    }
  
    .imageProgramador {
      width: 180px;
      height: 180px;
      margin-top: 60px;
    }
  
    .containerParteInferior {
      display: block;
      text-align: center;
    }
  
    .containerInfos span {
      font-size: 18px;
    }
  
    .containerInfos {
      display: flex;
      flex-direction: column;
      gap: 15px;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      margin-left: 10px;
      
  
    }
  
    .containerEncontroMe {
  
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
      margin-top: 30px;
    }
  
    .tituloEncontreMe {
      font-size: 22px;
      text-transform: uppercase;
    }
  
    .subTituloEncontreMe {
      font-size: 14px;
    }
  
    .containerIcons {
      display: flex;
      gap: 18px;
      margin-top: 10px;
    }
  
    .iconsFundo {
      background-color: var(--secondary-color);
      padding: 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #fff;
    }
  
    .colorDestaque {
      color: var(--secondaryEscura-color)
    }
  
  }
  
  @media (min-width: 769px) and (max-width: 992px) {
    
    
  
    .container{
      border: 1px solid transparent;
      background-color: var(--primary-color);
    }
  
    .containerSectionSuperior {
  
      
      display: flex;
      align-items: center;
      padding-top: 80px;
      padding-right: 30px;
      padding-left: 30px;
      justify-content: space-between;
      height: 50vh;
      margin-bottom: 30px;
    }
  
  
  
  
    .containerOla {
      margin-bottom: 15px;
      font-size: 34px;
      display: flex;
      align-items: center;
    }
  
    .emoji {
      font-size: 30px;
      margin-left: 10px;
    }
  
    .containerNome {
      text-transform: uppercase;
      font-size: 36px;
      font-weight: 700;
      margin-bottom: 18px;
    }
  
    
  
    .containerTypewriter {
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;
    }
  
    .imageProgramador {
      width: 280px;
      height: 280px;
    }
  
    .imageIdeias {
      width: 280px;
      height: 280px;
  
    }
  
    .containerTitulo {
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .titulo {
      text-transform: uppercase;
      font-size: 28px;
      letter-spacing: 2px;
  
    }
  
    .colorDestaque {
      color: var(--secondaryEscura-color)
    }
  
    .containerParteInferior {
      display: flex;
      align-items: center;
  
      margin-right: 30px;
      margin-left: 30px;
      justify-content: space-between;
    }
  
    .containerInfos {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 50%;
    }
  
    .containerInfos span {
      font-size: 18px;
    }
  
    .containerSectionInfo {
      margin-bottom: 80px;
    }
  
    .containerEncontroMe {
  
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
  
    .tituloEncontreMe {
      font-size: 32px;
      text-transform: uppercase;
    }
  
    .subTituloEncontreMe {
      font-size: 14px;
    }
  
    .containerIcons {
      display: flex;
      gap: 18px;
      margin-top: 12px;
    }
  
    .iconsFundo {
      background-color: var(--secondary-color);
      padding: 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #fff
    }
  
    .iconsFundo:hover {
      background-color: var(--secondaryEscura-color);
    }
  
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
  
    
    
  
    .container{
      border: 1px solid transparent;
      background-color: var(--primary-color);
    }
  
    .containerSectionSuperior {
  
  
      display: flex;
      align-items: center;
      padding-top: 80px;
      padding-right: 130px;
      padding-left: 130px;
      justify-content: space-between;
      height: 50vh;
      margin-bottom: 80px;
    }
  
  
  
  
    .containerOla {
      margin-bottom: 15px;
      font-size: 36px;
      display: flex;
      align-items: center;
    }
  
    .emoji {
      font-size: 30px;
      margin-left: 10px;
    }
  
    .containerNome {
      text-transform: uppercase;
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 18px;
    }
  
  
    .containerTypewriter {
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 600;
    }
  
    .imageProgramador {
      width: 350px;
      height: 350px;
    }
  
    .imageIdeias {
      width: 350px;
      height: 350px;
  
    }
  
    .containerTitulo {
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .titulo {
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: 2px;
    }
  
    .colorDestaque {
      color: var(--secondaryEscura-color)
    }
  
    .containerParteInferior {
      display: flex;
      align-items: center;
  
      margin-right: 120px;
      margin-left: 120px;
      justify-content: space-between;
    }
  
    .containerInfos {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 50%;
    }
  
    .containerInfos span {
      font-size: 18px;
    }
  
    .containerSectionInfo {
      margin-bottom: 30px;
    }
  
    .containerEncontroMe {
      margin-top: 70px;
      margin-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }
  
    .tituloEncontreMe {
      font-size: 32px;
      text-transform: uppercase;
    }
  
    .subTituloEncontreMe {
      font-size: 14px;
    }
  
    .containerIcons {
      display: flex;
      gap: 18px;
      margin-top: 15px;
    }
  
    .iconsFundo {
      background-color: var(--secondary-color);
      padding: 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #fff
    }
  
    .iconsFundo:hover {
      background-color: var(--secondaryEscura-color);
    }
  
  
  
  
  
  
  }
  
  @media (min-width: 1201px) {
      
    
  
    .container{
     background-color: var(--primary-color);
      
    }
  
    .containerSectionSuperior {
    
    
      display: flex;
      align-items: center;
      padding-top: 80px;
      padding-right: 250px;
      padding-left: 250px;
      justify-content: space-between;
      height: 50vh;
      margin-bottom: 80px;
    }
  
    .containerOla {
      margin-bottom: 15px;
      font-size: 36px;
      display: flex;
      align-items: center;
    }
  
    .emoji {
      font-size: 30px;
      margin-left: 10px;
    }
  
    .containerNome {
      text-transform: uppercase;
      font-size: 38px;
      font-weight: 700;
      margin-bottom: 18px;
    }
  
    .containerTypewriter {
      text-transform: capitalize;
      font-size: 20px;
      font-weight: 600;
    }
    
    .imageProgramador {
      width: 380px;
      height: 380px;
    }
  
    .imageIdeias {
      width: 380px;
      height: 380px;
  
    }
    
    .containerTitulo {
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
    }
    
    .titulo {
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: 2px;
    }
  
    .colorDestaque {
      color: var(--secondaryEscura-color)
    }
  
    .containerParteInferior {
      display: flex;
      align-items: center;
    
      margin-right: 150px;
      margin-left: 150px;
      justify-content: space-between;
    }
  
  
    .containerInfos {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 50%;
    }
  
    .containerInfos span {
      font-size: 18px;
    }
  
    .containerSectionInfo {
      margin-bottom: 30px;
    }
  
    .containerEncontroMe {
    
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  
    .tituloEncontreMe {
      font-size: 36px;
      text-transform: uppercase;
    }
    
  
    .subTituloEncontreMe {
      font-size: 16px;
    }
    
    .containerIcons {
      display: flex;
      gap: 18px;
    }
  
    .iconsFundo {
      background-color: var(--secondary-color);
      padding: 12px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      font-size: 18px;
      color: #fff
    }
  
    .iconsFundo:hover {
      background-color: var(--secondaryEscura-color);
    }
    
    
    
  }